In [7]:
years = range(1999, 2014)

headers = ['oscars', 'nominations', 'theaters', 'worldgross', 'title', 'year']
moviedata = []

In [8]:
import urllib2
import requests
from requests.exceptions import HTTPError
import re
from bs4 import BeautifulSoup
import pickle
from datetime import datetime


import numpy as np
randn = np.random.randn
from pandas import *
import pandas as pd


def text2int(textnum, numwords={}):
    if not numwords:
        numwords={}
        units = [
            "zero", "one", "two", "three", "four", "five", "six", "seven", "eight",
            "nine", "ten", "eleven", "twelve", "thirteen", "fourteen", "fifteen",
            "sixteen", "seventeen", "eighteen", "nineteen",
        ]
        for idx, word in enumerate(units):    numwords[word] = idx
    if textnum not in numwords:
          raise Exception("Illegal word: " + textnum)
    return numwords[textnum]

In [9]:
#years = [2013]

for y in years:
    url = "http://www.boxofficemojo.com/yearly/chart/?yr=" + str(y) + "&p=.htm"
    page = urllib2.urlopen(url)
    soup = BeautifulSoup(page)
    pages = (len(soup.find_all('a', href=re.compile('chart/\?page=.*&.*')))/2)+1

    for p in range(1,pages+1):
        url = "http://www.boxofficemojo.com/yearly/chart/?page=" + str(p) + \
        "&view=releasedate&view2=domestic&yr=" + str(y) + "&p=.htm"
    
        page = urllib2.urlopen(url)
        soup = BeautifulSoup(page)
    
        movielinks =[]
    
        if soup.find_all('a', href=re.compile('movies/\?id=.*.htm')):
            for link in soup.find_all('a', href=re.compile('movies/\?id=.*.htm')):
                movielink = "http://www.boxofficemojo.com" + str(link['href'])
                movielinks.append(movielink)

        movielinks = movielinks[1:]

        for m in movielinks:
            try:
                url = m
                page = urllib2.urlopen(url)
            except urllib2.HTTPError, error:
                continue
            soup = BeautifulSoup(page)
            if (soup.find(text = re.compile('Academy Awards')) and
                soup.find("title").text and
                soup.find(text=re.compile('Worldwide:')) and
                soup.find(text=re.compile('Widest.*Release')) and
                soup.find(text=re.compile('Nominated for .*'))):
                titlestr = soup.find("title").text
                title = str(titlestr.split("(")[0].strip())
                grosscell = soup.find(text=re.compile('Worldwide:')).findNext().b
                grossstr = str(grosscell)[4:-4]
                gross = int(grossstr.replace(',', ''))
                theatcell = soup.find(text=re.compile('Widest.*Release')).findNext()
                theatstr = str(theatcell)[6:-14]
                theatnum = int(theatstr.replace(',', ''))
                oscarcell = soup.find(text=re.compile('Nominated for .*'))
                oscarnomt = str(oscarcell.split(" ")[2])
                nominations = text2int(oscarnomt.lower())
                oscars = 0
                if len(oscarcell) > 30:
                    oscarawat = str(oscarcell.split(" ")[5])
                    oscars = text2int(oscarawat.lower())
        
                year = datetime(year = y, month = 12, day = 31)
                moviedict = dict(zip(headers, [oscars, nominations, theatnum, gross, title, year]))
                moviedata.append(moviedict)

In [10]:
moviesdf = DataFrame(moviedata)
print moviesdf

     nominations  oscars  theaters                                      title  \
0              3       0      3126  Star Wars: Episode I - The Phantom Menace
1              6       0      2821                            The Sixth Sense
2              1       0      3257                                Toy Story 2
3              1       0      3314      Austin Powers: The Spy Who Shagged Me
4              4       4      2903                                 The Matrix
5              1       1      3131                                     Tarzan
6              1       0      3411                                  The Mummy
7              1       0      3151                              Stuart Little
8              4       0      2875                             The Green Mile
9              8       5      1990                            American Beauty
10             3       1      3069                              Sleepy Hollow
11             5       0      2369                    The Talented Mr. Ripley
12             1       0      2613                                       Life
13             1       0      2767                           Bicentennial Man
14             7       2      1738                      The Cider House Rules
15             1       0      2128      South Park - Bigger, Longer and Uncut
16             1       0      2148                              The Hurricane
17             2       0      2132                          Anna and the King
18             1       0      1966                                 Fight Club
19             7       0      1844                                The Insider
20             1       1      1935                          Girl, Interrupted
21             3       0       630                       Being John Malkovich
22             3       0      1086                                   Magnolia
23             2       0      1353                         Music of the Heart
24             1       0      1155                     Snow Falling on Cedars
25             1       1       145                        All About My Mother
26             1       0        74                    Buena Vista Social Club
27             1       0       186                         The Straight Story
28             2       0       239                          Sweet and Lowdown
29             1       0        35                                      Titus
..           ...     ...       ...                                        ...
514            2       2      3550                           The Great Gatsby
515            2       0      3285                              Lone Survivor
516            5       0      2557                    The Wolf of Wall Street
517            6       0      3143                           Captain Phillips
518            1       0      3345              Jackass Presents: Bad Grandpa
519            2       0      3904                            The Lone Ranger
520            1       0      2671                           Saving Mr. Banks
521            1       0      3290                                  Prisoners
522            9       3      1474                           12 Years a Slave
523            2       0      2411                       August: Osage County
524            4       0      1225                                  Philomena
525            3       1      1283                               Blue Jasmine
526            6       3      1110                         Dallas Buyers Club
527            5       1      1729                                        Her
528            1       0      1316                             The Book Thief
529            6       0       968                                   Nebraska
530            2       0       729                        Inside Llewyn Davis
531            1       0      1010              Mandela: Long Walk to Freedom
532            1       0       897                            Before Midnight
533            2       0       804                            The Grandmaster
534            1       0       483                                All Is Lost
535            1       1       147                       20 Feet from Stardom
536            1       1        77                           The Great Beauty
537            1       0        99                                         No
538            1       0        75                                   Kon-Tiki
539            1       0       153                        The Invisible Woman
540            1       0        47                                   The Hunt
541            1       0        29                             Act of Killing
542            1       0        21                    Broken Circle Breakdown
543            1       0        16                                  War Witch

     worldgross       year
0    1027044677 1999-12-31
1     672806292 1999-12-31
2     485015179 1999-12-31
3     312016858 1999-12-31
4     463517383 1999-12-31
5     448191819 1999-12-31
6     415933406 1999-12-31
7     300135367 1999-12-31
8     286801374 1999-12-31
9     356296601 1999-12-31
10    206071502 1999-12-31
11    128798265 1999-12-31
12     73345029 1999-12-31
13     87423861 1999-12-31
14     88545092 1999-12-31
15     83137603 1999-12-31
16     73956241 1999-12-31
17    113996937 1999-12-31
18    100853753 1999-12-31
19     60289912 1999-12-31
20     48350205 1999-12-31
21     22863596 1999-12-31
22     48451803 1999-12-31
23     14859394 1999-12-31
24     23049593 1999-12-31
25     67872296 1999-12-31
26     23002182 1999-12-31
27      6203044 1999-12-31
28      4197015 1999-12-31
29      2007290 1999-12-31
..          ...        ...
514   351040419 2013-12-31
515   149295601 2013-12-31
516   392000694 2013-12-31
517   218791811 2013-12-31
518   151831537 2013-12-31
519   260502115 2013-12-31
520   112544580 2013-12-31
521   122126687 2013-12-31
522   187733202 2013-12-31
523    74188937 2013-12-31
524   100129872 2013-12-31
525    97505481 2013-12-31
526    55198285 2013-12-31
527    47351251 2013-12-31
528    76586316 2013-12-31
529    17654912 2013-12-31
530    32935319 2013-12-31
531    27333835 2013-12-31
532    11176469 2013-12-31
533    64076736 2013-12-31
534    13627519 2013-12-31
535     4946445 2013-12-31
536    21352400 2013-12-31
537     2343664 2013-12-31
538    22842887 2013-12-31
539     1234254 2013-12-31
540      613308 2013-12-31
541      486919 2013-12-31
542     5475058 2013-12-31
543       70544 2013-12-31

[544 rows x 6 columns]

In [11]:
with open('movies2.pkl', 'w') as f:
    pickle.dump(moviesdf, f)

In [12]:
with open('movies2.pkl', 'r') as f:
    moviesdf = pickle.load(f)

In [13]:
moviesdf

,nominations,oscars,theaters,title,worldgross,year
0,3,0,3126,Star Wars: Episode I - The Phantom Menace,1027044677,1999-12-31
1,6,0,2821,The Sixth Sense,672806292,1999-12-31
2,1,0,3257,Toy Story 2,485015179,1999-12-31
3,1,0,3314,Austin Powers: The Spy Who Shagged Me,312016858,1999-12-31
4,4,4,2903,The Matrix,463517383,1999-12-31
5,1,1,3131,Tarzan,448191819,1999-12-31
6,1,0,3411,The Mummy,415933406,1999-12-31
7,1,0,3151,Stuart Little,300135367,1999-12-31
8,4,0,2875,The Green Mile,286801374,1999-12-31
9,8,5,1990,American Beauty,356296601,1999-12-31
10,3,1,3069,Sleepy Hollow,206071502,1999-12-31
11,5,0,2369,The Talented Mr. Ripley,128798265,1999-12-31
12,1,0,2613,Life,73345029,1999-12-31
13,1,0,2767,Bicentennial Man,87423861,1999-12-31
14,7,2,1738,The Cider House Rules,88545092,1999-12-31
15,1,0,2128,"South Park - Bigger, Longer and Uncut",83137603,1999-12-31
16,1,0,2148,The Hurricane,73956241,1999-12-31
17,2,0,2132,Anna and the King,113996937,1999-12-31
18,1,0,1966,Fight Club,100853753,1999-12-31
19,7,0,1844,The Insider,60289912,1999-12-31
20,1,1,1935,"Girl, Interrupted",48350205,1999-12-31
21,3,0,630,Being John Malkovich,22863596,1999-12-31
22,3,0,1086,Magnolia,48451803,1999-12-31
23,2,0,1353,Music of the Heart,14859394,1999-12-31
24,1,0,1155,Snow Falling on Cedars,23049593,1999-12-31
25,1,1,145,All About My Mother,67872296,1999-12-31
26,1,0,74,Buena Vista Social Club,23002182,1999-12-31
27,1,0,186,The Straight Story,6203044,1999-12-31
28,2,0,239,Sweet and Lowdown,4197015,1999-12-31
29,1,0,35,Titus,2007290,1999-12-31
...,...,...,...,...,...,...
514,2,2,3550,The Great Gatsby,351040419,2013-12-31
515,2,0,3285,Lone Survivor,149295601,2013-12-31
516,5,0,2557,The Wolf of Wall Street,392000694,2013-12-31
517,6,0,3143,Captain Phillips,218791811,2013-12-31
518,1,0,3345,Jackass Presents: Bad Grandpa,151831537,2013-12-31
519,2,0,3904,The Lone Ranger,260502115,2013-12-31
520,1,0,2671,Saving Mr. Banks,112544580,2013-12-31
521,1,0,3290,Prisoners,122126687,2013-12-31
522,9,3,1474,12 Years a Slave,187733202,2013-12-31
523,2,0,2411,August: Osage County,74188937,2013-12-31
524,4,0,1225,Philomena,100129872,2013-12-31
525,3,1,1283,Blue Jasmine,97505481,2013-12-31
526,6,3,1110,Dallas Buyers Club,55198285,2013-12-31
527,5,1,1729,Her,47351251,2013-12-31
528,1,0,1316,The Book Thief,76586316,2013-12-31
529,6,0,968,Nebraska,17654912,2013-12-31
530,2,0,729,Inside Llewyn Davis,32935319,2013-12-31
531,1,0,1010,Mandela: Long Walk to Freedom,27333835,2013-12-31
532,1,0,897,Before Midnight,11176469,2013-12-31
533,2,0,804,The Grandmaster,64076736,2013-12-31
534,1,0,483,All Is Lost,13627519,2013-12-31
535,1,1,147,20 Feet from Stardom,4946445,2013-12-31
536,1,1,77,The Great Beauty,21352400,2013-12-31
537,1,0,99,No,2343664,2013-12-31
538,1,0,75,Kon-Tiki,22842887,2013-12-31
539,1,0,153,The Invisible Woman,1234254,2013-12-31
540,1,0,47,The Hunt,613308,2013-12-31
541,1,0,29,Act of Killing,486919,2013-12-31
542,1,0,21,Broken Circle Breakdown,5475058,2013-12-31
543,1,0,16,War Witch,70544,2013-12-31

In [14]:
moviesdf.to_csv('/Users/marcolunardi/documents/doc/metis/project2/movies2.csv')