In [17]:
import csv
import pandas as pd
from pandas import *

In [2]:
sp500 = read_csv('sp500_1974_2015.csv', delimiter=',', header=0, usecols=[0,1,2,3,5,6], 
                 names=['date','open','high','low','vol','close'])

In [3]:
sp500.head(5)

         date        open        high         low         vol       close
0  2015-06-03  2110.63989  2121.91992  2109.61011  3099980000  2114.07007
1  2015-06-02  2110.40991  2117.59009  2099.13989  3049350000  2109.60010
2  2015-06-01  2108.63989  2119.14990  2102.54004  3011710000  2111.72998
3  2015-05-29  2120.65991  2120.65991  2104.88989  3927390000  2107.38989
4  2015-05-28  2122.27002  2122.27002  2112.86011  2980350000  2120.79004

In [4]:
sp500.tail(5)

             date   open    high    low       vol  close
10445  1974-01-08  98.07   98.26  95.58  18080000  96.12
10446  1974-01-07  98.90   99.31  96.86  19070000  98.07
10447  1974-01-04  99.80  100.70  97.70  21700000  98.90
10448  1974-01-03  98.02  100.94  98.02  24850000  99.80
10449  1974-01-02  97.55   98.38  96.25  12060000  97.68

In [5]:
sp500['date'] = pd.to_datetime(sp500['date'])

In [ ]:
sp500.head(5)

In [7]:
spx_all = read_csv('/Users/marcolunardi/Documents/Doc/spx_options_1990_2015.csv', delimiter=',', header=0, usecols=[0,2,3,4,5,6,7,8,9,10,11,14,15], 
               names=['date','cl','exp','strike','pc','oi','vol','high','low','open','last','spc','ty'])

In [8]:
spx_all.head(5)

,date,cl,exp,strike,pc,oi,vol,high,low,open,last,spc,ty
0,19900102,NSX,19900317,330,C,0,0,0,0,0,0,359.69,Standard
1,19900102,NSX,19900317,335,C,0,0,0,0,0,0,359.69,Standard
2,19900102,NSX,19900317,340,C,3007,0,0,0,0,0,359.69,Standard
3,19900102,NSX,19900317,345,C,410,0,0,0,0,0,359.69,Standard
4,19900102,NSX,19900317,350,C,300,0,0,0,0,0,359.69,Standard

In [9]:
spx_all.tail(5)

,date,cl,exp,strike,pc,oi,vol,high,low,open,last,spc,ty
7771980,20150601,SPXW,20160331,2300,P,0,0,0,0,0,0,2111.73,LEAP
7771981,20150601,SPXW,20160331,2400,P,0,0,0,0,0,0,2111.73,LEAP
7771982,20150601,SPXW,20160331,2500,P,0,0,0,0,0,0,2111.73,LEAP
7771983,20150601,SPXW,20160331,2600,P,0,0,0,0,0,0,2111.73,LEAP
7771984,20150601,SPXW,20160331,2700,P,0,0,0,0,0,0,2111.73,LEAP

In [12]:
spxt = spx_all[spx_all.ty == 'Standard']

In [13]:
len(spxt)

4722723

In [14]:
spxtc = spxt[spxt.cl == 'SPX']

In [15]:
len(spxtc)

2406884

In [19]:
spxtc['date'] = pd.to_datetime(spxtc['date'])
spxtc['exp'] = pd.to_datetime(spxtc['exp'])
spxtc.head(5)

/usr/local/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,date,cl,exp,strike,pc,oi,vol,high,low,open,last,spc,ty
86,1970-01-01 00:00:00.019900102,SPX,19900120,320,C,1088,0,0.000,0.0,0.00,0.000,359.69,Standard
87,1970-01-01 00:00:00.019900102,SPX,19900120,325,C,1252,0,0.000,0.0,0.00,0.000,359.69,Standard
88,1970-01-01 00:00:00.019900102,SPX,19900120,330,C,8738,25,30.500,30.5,30.50,30.500,359.69,Standard
89,1970-01-01 00:00:00.019900102,SPX,19900120,335,C,580,0,0.000,0.0,0.00,0.000,359.69,Standard
90,1970-01-01 00:00:00.019900102,SPX,19900120,340,C,2480,27,17.625,17.0,17.25,17.625,359.69,Standard

In [ ]:
spx = spxct.drop('cl', 1)
spx = spx.drop('ty', 1)

In [ ]:
sp500.to_csv('sp500.csv')
spx.to_csv('spx.csv')